*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Mukta Mahee', sans-serif
}

nav ul {
    list-style-type: none;
    display: none;
}

nav ul a{
    display: block;
    background: #0d1317;
    padding: 20px;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ad343e;
    transition: color 2s ease, background 2s ease, padding 2s ease;
}

nav ul a:hover{
    background: #474747;
    color: #e0e0ce;
    padding-left: 30px;
}

.nav-container img{
    width: 100px;
    align-self: center;
}

 .nav-container{
     padding: 0 20px;
     background: #f5f3f5;
     border-bottom: 3px solid #ad343e;
     display: flex;
     justify-content: space-between;
 }


.bar{
    width: 30px;
    height: 3px;
    margin: 7px;
    background: #ad3;
}
 .btn{
     padding: 2px;
     display: inline-block;
     border: 2px solid #ad3;
     align-self: center;
 }

 header{
     min-height: 100px;
     background:linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), url(./imges/star.jpg)center/cover fixed no-repeat;
     display: flex;
     flex-direction: column;
 }

 nav{
     flex:0 0 auto; 
 }

 .banner{
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }

 .banner h1{
     font-size: 50px;
     text-transform: uppercase;
     color: #ad343e}
     .and{
         color: #f5f3f5;
     }

     .banner-icons a {
         padding: 20px;
     }


     .banner-icons a{
         padding: 20px;
     }
     .banner-icons a{
         display: inline-block;
         font-size: 30px;
         background-color: #ad3;
         padding: 5px 10px;
         margin: 0 10px;
         border-radius: 60px;
         color: #f5f3f5;
         transition: color ls ease, transform ls ease;
     }
     .banner-icons a:hover {
       color:#ad343e;
       transform: translatey(-10px)
     }

     nav {
         position: fixed;
         width: 100%;
         z-index: 10;
     }

     @media screen and (min-width:776px){
         .nav-container{
             display:none;
         }
         nav ul{
             display:flex!important;
             flex-wrap: wrap;
             justify-content: center;
             background-color: rgba(13,19,23,0.8);
         }
         nav ul a {
             background-color: transparent;
         }
         nav ul a:hover {
             background-color: transparent;
             padding-left: 20px;
         }
     }
     /*#############services##########*/
     .services{
         min-height: 80vh;
         background: url("./imges/H\ H.jpg")center/cover
         fixed no-repeat;
         display: flex;
         align-items: center;
     }

     .service{
         color: black;
         display: flex;
         margin: 40px;
     }

     .service-icon{
         align-self: center;
         font-size: 60px;
         margin-right: 20px;
         padding: 20px;
         border: 3px solid black;
         border-radius:50%;
     }

     .service-text h3{
         text-transform: uppercase;
     }

     .service-text p{
         line-height: 5px;
         margin-top: 5px;
     }
     @media screen and (min-width:576px){
         .service-center {
             width: 70%;
         }
     }
    @media screen and (min-width:776px){
        .service-center {
            width: 50%;
        }
        .service-text p{
            width: 50%;
        }
    }